<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1694253987617-ae47ddace39b?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Student Management System</a>

	<!-- Toggler/collapsible Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item" style="font-size:20px">
				<a class="nav-link" th:href="@{/students}">Students</a>
			</li>
			<li class="nav-item" style="font-size:20px">
				<a class="nav-link" th:href="@{/courses}">Courses</a>
			</li>
		</ul>
	</div>
</nav>
	
<br>
<div class="container">
	<div class="row">
		<h1 style="padding-left:12px; color:#FFFFFF">List of Students</h1>
	</div>

	<div class="row" >
		<div class="col-Lg-3" style="padding-left:15px">
			<a th:href= "@{/students/new}" class= "btn btn-primary btn-sm mb-3"> Add Student</a>
		</div>
	</div>

	<!--Popup message-->
	<!--Now print if successMessage is true-->
	<div style="margin-right: 920px;" id="success-message" th:if="${session.successMessage}" class="alert alert-success" role="alert">
		<p th:text="${session.successMessage}"></p>
	</div>

	<!-- to check if session.successMessage are true or not -->
	<div id="success-message">
		<div th:if="${session.successMessage}">
			<input type="hidden" id="showPopup" th:value="true" />
		</div>
	</div>
	<!--Popup message-->

	<table class = "table table-striped table-bordered"style="background-color: rgba(255, 225, 225, .5);">
		<thead class="table-dark">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Student ID</th>
			<th>Email</th>
			<th>Faculty</th>
			<th>Bachelor</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="student : ${students}">
			<td th:text="${student.firstName}"></td>
			<td th:text="${student.lastName}"></td>
			<td th:text="${student.studentId}"></td>
			<td th:text="${student.email}"></td>
			<td th:text="${student.faculty}"></td>
			<td th:text="${student.bachelor}"></td>
			<td>
				<a th:href="@{/students/edit/{id}(id=${student.id})}" method="POST" class="btn btn-primary btn-sm">Update</a>
				<a th:href="@{/students/{id}(id=${student.id})}" method="GET" class="btn btn-danger btn-sm">Delete</a>
				<a th:href="@{/enrollment/{id}(id=${student.id})}" class="btn btn-success btn-sm">Enrol</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Function to hide the success message after 5 seconds
        function hideSuccessMessage() {
            var successMessageElement = document.getElementById('success-message');
            if (successMessageElement) {
                successMessageElement.style.display = 'none';
                // Reset the successMessage in the session
                fetch('/students/resetSuccessMessage', {
                    method: 'POST'
                });
            }
        }

        // Call the hideSuccessMessage function after 5 seconds (5000 milliseconds)
        setTimeout(hideSuccessMessage, 2000);

        // Check if the showPopup flag is true and display the popup accordingly
        var showPopup = document.getElementById('showPopup').value;
        if (showPopup === "true") {
            var successMessageElement = document.getElementById('success-message');
            successMessageElement.style.display = 'block';
        }
    });
</script>

</body>
</html>